#draggable { 
	width: 150px; 
	height: 150px; 
	background-color: red;
}

  #resizable { width: 150px;
             height: 150px; 
             padding: 0.5em; }
  #resizable h3 { text-align: center; 
  	    margin: 0; }



 .toggler { width: 500px; height: 200px; position: relative; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { position: relative; }
  .newClass { width: 240px;  padding: 1em; letter-spacing: 0; margin: 0; }
  .anotherNewClass { text-indent: 40px; letter-spacing: .2em; width: 410px; height: 100px; padding: 30px; margin: 10px; font-size: 1.1em; }
  










